security:
  password_hashers:
    App\Entity\Utilisateur: 'auto'

  providers:
    app_user_provider:
      entity:
        class: App\Entity\Utilisateur
        property: email

  firewalls:
    dev:
      pattern: ^/(_profiler|_wdt|assets|build)/
      security: false

    main:
      lazy: true
      provider: app_user_provider

      json_login:
        check_path: /login
        username_path: email
        password_path: password

      logout:
        path: /logout

  access_control:
    # login/logout accessibles sans être connecté
    - { path: ^/login$, roles: PUBLIC_ACCESS }
    - { path: ^/logout$, roles: PUBLIC_ACCESS }

    # API docs publiques si tu veux
    - { path: ^/api$, roles: PUBLIC_ACCESS }
    - { path: ^/api/docs, roles: PUBLIC_ACCESS }

    # le reste protégé (exemple)
    # - { path: ^/api, roles: ROLE_USER }

when@test:
  security:
    password_hashers:
      App\Entity\Utilisateur:
        algorithm: auto
        cost: 4
        time_cost: 3
        memory_cost: 10
